</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; Your Website 2021</span>
    </div>
  </div>
</footer>
<!-- End of Footer -->
</div>
<!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bạn muốn đăng xuất?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Chọn "Đăng xuất" nếu bạn muốn kết thúc phiên đăng nhập.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
        <a class="btn btn-primary" onclick="logout()">Đăng xuất</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="templatePopup" tabindex="-1" role="dialog" aria-labelledby="templatePopupModal"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="titleTemplatePopupModal"></h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body" id="templatePopupBody"></div>
      <div class="modal-footer" id="modalFooterTemplate">
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<script>
  async function logout() {
    const response = await fetch(`${URL}/auth/logout`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      }
    });
    const result = await response.json();

    if (result.status == 200) {
      window.location.href = '/login'
    }
  }

  function paginationDataTable(result, columns) {
    $('#example').DataTable({
      data: result,
      columns: columns,
      ordering: false,
      language: {
      lengthMenu: "Chọn số lượng _MENU_",
      info: "Từ _START_ đến _END_ trong tổng cộng _TOTAL_",
      paginate: {
        previous: "Trang trước",
        next: "Trang tiếp"
      },
    }
    });
  }

  async function templatePopupModal(title, body, api) {
    const titleTemplatePopupModal = document.getElementById('titleTemplatePopupModal')
    const templatePopupBody = document.getElementById('templatePopupBody')
    const modalFooterTemplate = document.getElementById('modalFooterTemplate')
    titleTemplatePopupModal.innerText = title
    templatePopupBody.innerHTML = '<div id="messageInPopup"></div>' + body
    modalFooterTemplate.innerHTML = '<button class="btn btn-secondary" type="button" data-dismiss="modal">Đóng</button>'

    if (api && !modalFooterTemplate.innerHTML.includes('submitPostAPI')) {
      modalFooterTemplate.innerHTML += `<a class="btn btn-primary" id="submitPostAPI">Xác nhận</a>`
      const submitPostAPI = document.getElementById('submitPostAPI')

      let errors = [];

      const queryTemplatePopupBody = document.querySelector('#templatePopupBody')
      const inputAvatarProfile = queryTemplatePopupBody.querySelector('#popupTemplate-avatar')
      const showAvatar = queryTemplatePopupBody.querySelector('#popupTemplate-avatar-profile')

      if (inputAvatarProfile) {
        inputAvatarProfile.addEventListener('change', () => {
          const file = inputAvatarProfile.files[0];
          const reader = new FileReader();

          reader.addEventListener('load', () => {
            showAvatar.src = reader.result;
          });

          reader.readAsDataURL(file);
        });
      }
      
      submitPostAPI.onclick = async () => { 
        const inputs = queryTemplatePopupBody.querySelectorAll('.form-control')
        const message = queryTemplatePopupBody.querySelector('#messageInPopup')
        console.log('🚀 ~ message:', message)

        let data = {};
        inputs.forEach(element => {
          const key = element.id.split('-')[1]
          let value;
          if (element.type =='number') {
            value = parseInt(element.value)
          }else{
            value = element.value
          }
          if (key == 'avatar') {
            value = showAvatar.src
          }
          data[key] = value
        });

        const response = await fetch(`${URL}/${api}/`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data)
        });
        const result = await response.json();

        if (result.status == 400) {
          message.innerHTML = '';
          errors = [];
          if (Array.isArray(result.message)) {
            errors = result.message;
          } else {
            console.log('sjkashdkjas');
            errors[0] = result.message;
          }

          for (let i = 0; i < errors.length; i++) {
            message.innerHTML += `<div class="text-xs font-weight-bold text-danger mb-1">* ${errors[i]}</div>`;
          }
        }

        if (result.status == 200) {
          clickShowPopup.click()
          location.reload()
        }
      }
    }
    const clickShowPopup = document.getElementById('clickShowPopup')
    clickShowPopup.click()
  }

  function convertDateFormat(dateString) {
    const dateParts = dateString.split('/');
    const year = dateParts[2];
    const month = dateParts[1];
    const day = dateParts[0];
    return year + '-' + month + '-' + day;
  }
</script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/demo/chart-area-demo.js"></script>
<script src="/js/demo/chart-pie-demo.js"></script>
<script src="/js/demo/datatables-demo.js"></script>

<a id="clickShowPopup" hidden data-toggle="modal" data-target="#templatePopup"></a>
</body>

</html>