<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Quản lý tín chỉ</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet" />

    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.0/chart.umd.js"></script>
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
          </div>
          <div class="sidebar-brand-text mx-3">Quản lý tín chỉ</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        <!-- Nav Item - Dashboard -->
        <li class="nav-item" id="sidebar-dashboard">
          <a class="nav-link" href="/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Trang chủ</span></a
          >
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Heading -->
        <div class="sidebar-heading">Quản lý</div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item" id="sidebar-user-list">
          <a class="nav-link" href="/user/list">
            <i class="fas fa-solid fa-user-graduate"></i>
            <span>Danh sách sinh viên</span>
          </a>
        </li>

        <li class="nav-item" id="sidebar-department-list">
          <a class="nav-link" href="/department/list">
            <i class="fas fa-solid fa-building"></i>
            <span>Danh sách khoa</span>
          </a>
        </li>

        <li class="nav-item" id="sidebar-course-list">
          <a class="nav-link" href="/course/list">
            <i class="fas fa-solid fa-graduation-cap"></i>
            <span>Danh sách khóa học</span>
          </a>
        </li>

        <li class="nav-item" id="sidebar-class-list">
          <a class="nav-link" href="/class/list">
            <i class="fas fa-solid fa-university"></i>
            <span>Danh sách lớp</span>
          </a>
        </li>

        <li class="nav-item" id="sidebar-subject-list">
          <a class="nav-link" href="/subject/list">
            <i class="fas fa-solid fa-book"></i>
            <span>Danh sách môn học</span>
          </a>
        </li>

        <li class="nav-item" id="sidebar-score-list">
          <a class="nav-link" href="/score/list">
            <i class="fas fa-solid fa-star"></i>
            <span>Danh sách điểm</span>
          </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapsePages"
            aria-expanded="false"
            aria-controls="collapsePages"
          >
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Báo cáo</span>
          </a>
          <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar" style="">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="login.html">Môn học</a>
            </div>
          </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      </ul>
      <!-- End of Sidebar -->

      <script>
        const pathName = window.location.pathname;
        const firstPath = pathName.split('/')[1];
        switch (firstPath) {
          case 'user':
            const sidebarUserList = document.getElementById('sidebar-user-list');
            sidebarUserList.classList.add('active');
            break;
          case 'subject':
            const sidebarSubjectList = document.getElementById('sidebar-subject-list');
            sidebarSubjectList.classList.add('active');
            break;
          case 'score':
            const sidebarScoreList = document.getElementById('sidebar-score-list');
            sidebarScoreList.classList.add('active');
            break;
          case 'class':
            const sidebarClassList = document.getElementById('sidebar-class-list');
            sidebarClassList.classList.add('active');
            break;
          case 'department':
            const sidebarDepartmentList = document.getElementById('sidebar-department-list');
            sidebarDepartmentList.classList.add('active');
            break;
          case 'course':
            const sidebarCourseList = document.getElementById('sidebar-course-list');
            sidebarCourseList.classList.add('active');
            break;
          case 'dashboard':
            const sidebarDashboard = document.getElementById('sidebar-dashboard');
            sidebarDashboard.classList.add('active');
            break;
          default:
            break;
        }
      </script>
