<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
  <!-- Main Content -->
  <div id="content">
    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
      <!-- Sidebar Toggle (Topbar) -->
      <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
      </button>

      <!-- Topbar Navbar -->
      <ul class="navbar-nav ml-auto">
        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
        <li class="nav-item dropdown no-arrow d-sm-none">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="searchDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fas fa-search fa-fw"></i>
          </a>
          <!-- Dropdown - Messages -->
          <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
            <form class="form-inline mr-auto w-100 navbar-search">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control bg-light border-0 small"
                  placeholder="Search for..."
                  aria-label="Search"
                  aria-describedby="basic-addon2"
                />
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </li>

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="userDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <div style="display: flex; flex-direction: column">
              <span id="name-topbar" class="mr-2 d-none d-lg-inline text-gray-800 font-weight-bold"></span>
              <span id="role-topbar" class="text-xs mr-2 d-none d-lg-inline text-gray-400 font-weight-bold text-uppercase"></span>
            </div>
            <img id="avatar-topbar" class="img-profile rounded-circle" alt="Avatar" src="" onerror="this.src='/img/undraw_profile.svg';" />
          </a>
          <!-- Dropdown - User Information -->
          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="/profile">
              <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
              Trang cá nhân
            </a>
            <a class="dropdown-item" href="/profile/change-password">
              <i class="fas fa-wrench fa-sm fa-fw mr-2 text-gray-400"></i>
              Đổi mật khẩu
            </a>
            <!-- <a class="dropdown-item" href="#">
              <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
              Activity Log
            </a> -->
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
              <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
              Đăng xuất
            </a>
          </div>
        </li>
      </ul>
    </nav>
    <!-- End of Topbar -->

    <script>
      const PROTOCOL = '<%= process.env.PROTOCOL %>';
      const HOST = '<%= process.env.HOST %>';
      const PORT = '<%= process.env.PORT %>';
      const URL = `${PROTOCOL}://${HOST}:${PORT}`;

      const avatarTopbar = document.getElementById('avatar-topbar');
      const nameTopbar = document.getElementById('name-topbar');
      const roleTopbar = document.getElementById('role-topbar');

      window.addEventListener('load', async () => {
        const response = await fetch(`${URL}/auth/profile`);
        const result = await response.json();

        const { avatar, role, first_name, last_name } = result.data;

        avatarTopbar.src = avatar;
        nameTopbar.innerText = first_name + ' ' + last_name;
        roleTopbar.innerText = role;

        const roleAdmin = document.getElementsByClassName('role-admin');
        const roleUser = document.getElementsByClassName('role-user');
        if (role == 'user') {
          for (const item of roleAdmin) {
            item.style.display = 'none';
          }
        }
        if (role == 'admin') {
          for (const item of roleUser) {
            item.style.display = 'none';
          }
        }
      });
    </script>
