<%- include('../partials/sidebar.ejs') %> <%- include('../partials/topbar.ejs') %>

<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Thống kê</h1>
  </div>

  <!-- Content Row -->
  <div class="row justify-content-around role-admin">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Tổng số sinh viên</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800" id="no_of_student_dashboard"></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-solid fa-user-graduate fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Tổng số môn học</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800" id="no_of_subject_dashboard"></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-solid fa-book fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Tổng số lớp học</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800" id="no_of_class_dashboard"></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-solid fa-university fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->

  <div class="row role-admin">
    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Số lượng sinh viên từng môn học</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area">
            <canvas id="no-of-student-subject-chart"></canvas>
          </div>
        </div>
      </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Tỉ lệ sinh viên cửa từng khoa</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-pie pt-4 pb-2">
            <canvas id="noOfStudentDepartmentChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-around role-user">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Điểm trung bình hệ 10</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800" id="avg-score"></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-solid fa-user-graduate fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Điểm trung bình GPA</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800" id="avg-score-gpa"></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-solid fa-book fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Số tín chỉ đạt</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800" id="no_of_credit_pass"></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-solid fa-university fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row role-user">
    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Điểm của tất cả các môn</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area">
            <canvas id="all-score-user-subject"></canvas>
          </div>
        </div>
      </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Tỉ lệ điểm theo GPA</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-pie pt-4 pb-2">
            <canvas id="pass-fail-credit"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->

<script>
  const noOfStudentElement = document.getElementById('no_of_student_dashboard');
  const noOfSubjectElement = document.getElementById('no_of_subject_dashboard');
  const noOfClassElement = document.getElementById('no_of_class_dashboard');

  const avgScoreElement = document.getElementById('avg-score');
  const avgScoreGpaElement = document.getElementById('avg-score-gpa');
  const noOfCreditPassElement = document.getElementById('no_of_credit_pass');

  window.addEventListener('load', async () => {
    const responseNoOfAll = await fetch(`${URL}/report/no-of-all`);
    const resultNoOfAll = await responseNoOfAll.json();

    noOfStudentElement.innerHTML = resultNoOfAll.data.no_of_student;
    noOfSubjectElement.innerHTML = resultNoOfAll.data.no_of_subject;
    noOfClassElement.innerHTML = resultNoOfAll.data.no_of_class;

    const responseNoOfStudentSubject = await fetch(`${URL}/report/no-of-student-subject`);
    const resultNoOfStudentSubject = (await responseNoOfStudentSubject.json()).data;

    const responseNoOfStudentDepartment = await fetch(`${URL}/report/no-of-student-department`);
    const resultNoOfStudentDepartment = (await responseNoOfStudentDepartment.json()).data;

    new Chart(document.getElementById('noOfStudentDepartmentChart'), {
      type: 'doughnut',
      data: {
        labels: resultNoOfStudentDepartment.map((item) => item.name),
        datasets: [
          {
            label: 'My First Dataset',
            data: resultNoOfStudentDepartment.map((item) => item.no_of_student),
            hoverOffset: 4,
          },
        ],
      },
    });

    new Chart(document.getElementById('no-of-student-subject-chart'), {
      type: 'bar',
      data: {
        labels: resultNoOfStudentSubject.map((item) => item.name),
        datasets: [
          {
            label: 'Số lượng sinh viên đăng ký',
            data: resultNoOfStudentSubject.map((item) => item.quantity),

            borderWidth: 1,
          },
        ],
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
          },
        },
      },
    });
  });

  window.addEventListener('load', async () => {
    const responseTotalScoreUser = await fetch(`${URL}/score/total-score-user`);
    const resultTotalScoreUser = await responseTotalScoreUser.json();

    avgScoreElement.innerHTML = resultTotalScoreUser.data.total_score;
    avgScoreGpaElement.innerHTML = resultTotalScoreUser.data.total_score_gpa;
    noOfCreditPassElement.innerHTML = resultTotalScoreUser.data.no_of_credit_pass;

    const responsesAllScoreUserSubject = await fetch(`${URL}/score/user-score`);
    const resultAllScoreUserSubject = (await responsesAllScoreUserSubject.json()).data;

    new Chart(document.getElementById('all-score-user-subject'), {
      type: 'bar',
      data: {
        labels: resultAllScoreUserSubject.map((item) => item.subject.name),
        datasets: [
          {
            label: 'Điểm',
            data: resultAllScoreUserSubject.map((item) => item.total_score),

            borderWidth: 1,
          },
        ],
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
          },
        },
      },
    });

    const responsesPassFailCredit = await fetch(`${URL}/report/pass-fail-credit`);
    const resultPassFailCredit = (await responsesPassFailCredit.json()).data;

    new Chart(document.getElementById('pass-fail-credit'), {
      type: 'doughnut',
      data: {
        labels: resultPassFailCredit.map((item) => item.result),
        datasets: [
          {
            label: 'My First Dataset',
            data: resultPassFailCredit.map((item) => item.no_of),
            hoverOffset: 4,
          },
        ],
      },
    });
  });
</script>

<%- include('../partials/footer.ejs') %>
