<%- include('../partials/sidebar.ejs') %> <%- include('../partials/topbar.ejs') %>

<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <!-- <h1 class="h3 mb-2 text-gray-800">Danh sách sinh viên</h1> -->

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Danh sách tất cả sinh viên</h6>
      <a onclick="clickEventShowPopupCreateUser()" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
        ><i class="fas fa-wrench fa-sm text-white-50"></i> Thêm sinh viên</a
      >
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table id="example" class="table table-bordered" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Họ và tên</th>
              <th>Email</th>
              <th>Số điện thoại</th>
              <th>Giới tính</th>
              <th>Sinh nhật</th>
              <th>Lớp</th>
              <th></th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->

<!-- Core plugin JavaScript-->
<!-- <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script> -->
<script>
  $(function () {
    $(document).on('click', '.detail-list', async function () {
      let id = $(this).data('id');
      const response = await fetch(`${URL}/user/${id}/detail`);
      const result = await response.json();

      const data = result.data;
      let title = 'Chi tiết sinh viên';
      let body = `
      <div class="text-center mb-3">
        <img src="${data.avatar}" alt="" style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover;">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="test1">Họ</span>
        </div>
        <div class="form-control">${data.first_name}</div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Tên</span>
        </div>
        <div class="form-control">${data.last_name}</div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Email</span>
        </div>
        <div class="form-control">${data.email}</div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Số điện thoại</span>
        </div>
        <div class="form-control">${data.phone}</div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Lớp</span>
        </div>
        <div class="form-control">${data.class.name}</div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Ngày sinh</span>
        </div>
        <div class="form-control">${data.birthday}</div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Giới tính</span>
        </div>
        <div class="form-control">${data.gender == 1 ? 'Nam' : 'Nữ'}</div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Địa chỉ</span>
        </div>
        <div class="form-control">${data.address}</div>
      </div>
      `;
      let apiSubmitData = '';
      templatePopupModal(title, body, apiSubmitData);
    });

    $(document).on('click', '.edit-list', async function () {
      let id = $(this).data('id');
      const response = await fetch(`${URL}/user/${id}/detail`);
      const result = await response.json();
      const data = result.data;
      let title = 'Chỉnh sửa sinh viên';

      const getClass = await fetch(`${URL}/class`);
      const resultGetClass = await getClass.json();

      let optionList = '';
      for (const _class of resultGetClass.data) {
        const option = `<option value="${_class.class_id}" ${data.class.class_id == _class.class_id ? 'selected' : ''}>${
          _class.name
        }</option>`;
        optionList += option;
      }

      let body = `
      <div class="text-center mb-3">
        <input type="file" class="form-control" id="popupTemplate-avatar" hidden />
        <img onclick="document.getElementById('popupTemplate-avatar').click()" id="popupTemplate-avatar-profile" src="${
          data.avatar
        }" alt="" style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover; cursor: pointer;">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="test1">Họ</span>
        </div>
        <input type="text" class="form-control" id="popupTemplate-first_name" value="${data.first_name}">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Tên</span>
        </div>
        <input type="text" class="form-control" id="popupTemplate-last_name" value="${data.last_name}">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Email</span>
        </div>
        <input type="text" class="form-control" id="popupTemplate-email" value="${data.email}">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Số điện thoại</span>
        </div>
        <input type="text" class="form-control" id="popupTemplate-phone" value="${data.phone}">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Lớp</span>
        </div>
        <select class="form-control" id="popupTemplate-class_id">
          ${optionList}
        </select>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Ngày sinh</span>
        </div>
        <input type="date" class="form-control" id="popupTemplate-birthday" value="${convertDateFormat(data.birthday)}">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Giới tính</span>
        </div>
        <select class="form-control" id="popupTemplate-gender">
          <option value="0" ${data.gender == 0 ? 'selected' : ''}>Nữ</option>
          <option value="1" ${data.gender == 1 ? 'selected' : ''}>Nam</option>
        </select>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Địa chỉ</span>
        </div>
        <input type="text" class="form-control" id="popupTemplate-address" value="${data.address}">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Quyền</span>
        </div>
        <select class="form-control" id="popupTemplate-role">
          <option value="user" ${data.role == 'user' ? 'selected' : ''}>Sinh viên</option>
          <option value="admin" ${data.role == 'admin' ? 'selected' : ''}>Giáo viên</option>
        </select>
      </div>
      <div style="display: none;" class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Địa chỉ</span>
        </div>
        <input type="number" class="form-control" id="popupTemplate-user_id" value="${data.user_id}">
      </div>
      `;
      let apiSubmitData = 'user/update';
      templatePopupModal(title, body, apiSubmitData);
    });

    $(document).on('click', '.delete-list', function () {
      let id = $(this).data('id');
      let title = 'Xóa sinh viên';
      let body = `
        Bạn có muốn xóa sinh viên này không
        <div style="display: none;" class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Địa chỉ</span>
        </div>
          <input type="number" class="form-control" id="popupTemplate-user_id" value="${id}">
        </div>
      `;
      let apiSubmitData = 'user/delete';
      templatePopupModal(title, body, apiSubmitData);
    });
  });

  async function clickEventShowPopupCreateUser() {
    const response = await fetch(`${URL}/class`);
    const result = await response.json();

    let optionList = '';
    for (const _class of result.data) {
      const option = document.createElement('option');
      option.text = _class.name;
      option.value = _class.class_id;
      optionList += option.outerHTML;
    }

    let id = $(this).data('id');
    let title = 'Thêm sinh viên';
    let body = `
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="test1">Họ</span>
        </div>
        <input type="text" class="form-control" id="popupTemplate-first_name" value="">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Tên</span>
        </div>
        <input type="text" class="form-control" id="popupTemplate-last_name" value="">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Email</span>
        </div>
        <input type="text" class="form-control" id="popupTemplate-email" value="">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Mật khẩu</span>
        </div>
        <input type="password" class="form-control" id="popupTemplate-password" value="">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Lớp</span>
        </div>
        <select class="form-control" id="popupTemplate-class_id">
          <option selected value=""></option>
          ${optionList}
        </select>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Ngày sinh</span>
        </div>
        <input type="date" class="form-control" id="popupTemplate-birthday" value="">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Giới tính</span>
        </div>
        <select class="form-control" id="popupTemplate-gender">
          <option value="0">Nữ</option>
          <option value="1">Nam</option>
        </select>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Địa chỉ</span>
        </div>
        <input type="text" class="form-control" id="popupTemplate-address" value="">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Quyền</span>
        </div>
        <select class="form-control" id="popupTemplate-role">
          <option value="user">Sinh viên</option>
          <option value="admin">Giáo viên</option>
        </select>
      </div>
      `;
    let apiSubmitData = 'user/create';
    templatePopupModal(title, body, apiSubmitData);
  }

  window.addEventListener('load', async () => {
    const body = document.getElementById('table-body');

    const response = await fetch(`${URL}/user/`);
    const result = await response.json();

    const columns = [
      {
        data: null,
        render: function (data, type, row) {
          return row.first_name + ' ' + row.last_name;
        },
      },
      {
        data: 'email',
      },
      {
        data: 'phone',
      },
      {
        data: 'gender',
        render: function (data, type, row) {
          if (data == 1) {
            return 'Nam';
          } else {
            return 'Nữ';
          }
        },
      },
      {
        data: 'birthday',
      },
      {
        data: 'class_name',
      },
      {
        data: null,
        render: function (data, type, row) {
          return `<div class="text-center">
                    <a title="Chi tiết sinh viên" class="btn btn-info btn-circle btn-sm detail-list" data-id = '${data.user_id}'>
                        <i class="far fa-eye"></i>
                    </a>
                    <a title="Chỉnh sửa sinh viên" class="btn btn-warning btn-circle btn-sm edit-list" data-id = '${data.user_id}'>
                        <i class="fas fa-edit"></i>
                    </a>
                    <a title="Xóa sinh viên" href="#" class="btn btn-danger btn-circle btn-sm delete-list" data-id = '${data.user_id}'>
                        <i class="fas fa-trash"></i>
                    </a>
                </div>`;
        },
      },
    ];

    paginationDataTable(result.data, columns);
  });
</script>

<%- include('../partials/footer.ejs') %>
